 html {
	font-family: 'Italianno', cursive;
	padding: 30px;
	text-align: center;
}
h2, h3 {
	font-size: 48px;
}

body {
	padding: 50px;
	font-size: 32px;
}
form {
	width: 50%,
	padding: 10px,
	margin: 0 auto; 
}
select {
	margin-left: 15px;
}

input, textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}

input[type="submit"] {
   border: 2px solid red;
   width: 33%;
}
	
